HOLs/HOL-WebServiceAndIdentity/Source/Ex1-UsingWIFandWCF/End/Client/Service References/ServiceReference1/WeatherService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RelyingParty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RelyingParty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Forecast" nillable="true" type="tns:ArrayOfWeather" />
      <xs:element minOccurs="0" name="Observatory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherInfo" nillable="true" type="tns:WeatherInfo" />
  <xs:complexType name="ArrayOfWeather">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Weather" type="tns:Weather" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeather" nillable="true" type="tns:ArrayOfWeather" />
  <xs:simpleType name="Weather">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sunny" />
      <xs:enumeration value="Cloudy" />
      <xs:enumeration value="Snowy" />
      <xs:enumeration value="Rainy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
</xs:schema>