HOLs/HOL-WebServiceAndIdentity/Source/Ex1-UsingWIFandWCF/End/Client/Service References/ServiceReference1/WeatherService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:8443/WeatherService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/RelyingParty" />
  <xs:element name="GetThreeDaysForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreeDaysForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RelyingParty" minOccurs="0" name="GetThreeDaysForecastResult" nillable="true" type="q1:WeatherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTenDaysForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTenDaysForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RelyingParty" minOccurs="0" name="GetTenDaysForecastResult" nillable="true" type="q2:WeatherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>