HOLs/HOL-WebServiceAndIdentity/Source/Ex1-UsingWIFandWCF/End/Client/Service References/ServiceReference1/WeatherService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IWeatherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:MustNotSendCancel />
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:EndorsingSupportingTokens>
                      <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                          <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                            <Address xmlns="http://www.w3.org/2005/08/addressing">http://www.w3.org/2005/08/addressing/anonymous</Address>
                            <Metadata xmlns="http://www.w3.org/2005/08/addressing">
                              <Metadata xmlns="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                <wsx:MetadataSection xmlns="">
                                  <wsx:MetadataReference>
                                    <Address xmlns="http://www.w3.org/2005/08/addressing">https://localhost/LocalSTS/Service.svc/mex</Address>
                                  </wsx:MetadataReference>
                                </wsx:MetadataSection>
                              </Metadata>
                            </Metadata>
                          </Issuer>
                          <sp:RequestSecurityTokenTemplate>
                            <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                            <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity" xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                              <wsid:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" Optional="true" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                              <wsid:ClaimType Uri="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" Optional="true" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                            </trust:Claims>
                            <AppliesTo xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy">
                              <EndpointReference xmlns="http://www.w3.org/2005/08/addressing">
                                <Address>https://{yourProjectName}.cloudapp.net/</Address>
                              </EndpointReference>
                            </AppliesTo>
                          </sp:RequestSecurityTokenTemplate>
                          <wsp:Policy>
                            <sp:RequireInternalReference />
                          </wsp:Policy>
                        </sp:IssuedToken>
                      </wsp:Policy>
                    </sp:EndorsingSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust13>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust13>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
                <sp:MustNotSendAmend />
                <sp:MustNotSendRenew />
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://127.0.0.1:8443/WeatherService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://127.0.0.1:8443/WeatherService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://127.0.0.1:8443/WeatherService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/RelyingParty" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_GetThreeDaysForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreeDaysForecast" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetThreeDaysForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThreeDaysForecastResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetTenDaysForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTenDaysForecast" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetTenDaysForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTenDaysForecastResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="GetThreeDaysForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetThreeDaysForecast" message="tns:IWeatherService_GetThreeDaysForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetThreeDaysForecastResponse" message="tns:IWeatherService_GetThreeDaysForecast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTenDaysForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetTenDaysForecast" message="tns:IWeatherService_GetTenDaysForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetTenDaysForecastResponse" message="tns:IWeatherService_GetTenDaysForecast_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IWeatherService" type="tns:IWeatherService">
    <wsp:PolicyReference URI="#CustomBinding_IWeatherService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetThreeDaysForecast">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetThreeDaysForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenDaysForecast">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetTenDaysForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="CustomBinding_IWeatherService" binding="tns:CustomBinding_IWeatherService">
      <soap12:address location="https://127.0.0.1:8443/WeatherService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://127.0.0.1:8443/WeatherService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>